<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <!-- SQL Server Connection String -->
        <!-- Thay đổi "LAPTOP-USER\SQLEXPRESS" thành tên SQL Server của bạn -->
        <add key="ConnectionString" value="Server=LAPTOP-USER\SQLEXPRESS;Database=DiDongVietDB;Integrated Security=True;" />
    </appSettings>
</configuration>
